html{
    font-family: "Courier New", sans-serif;
}
h1{
    text-align: center;
    font-family: Courier, sans-serif;
    text-shadow: 0 0 20px black;
    padding: 20px 20px 10px 20px;
    font-size: 50px;
}
.nav {
    list-style-type: none;
    margin: 0 0 auto 14%;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0,0,0,0), #88aa88, #66aa66, #88aa88, rgba(0,0,0,0));
    text-align: center;
    left: 50%;
    width: 72%
}

.nav li {
    display: inline;
}

.nav a, .dropbtn {
    padding: 10px;
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    text-shadow: 0 0 20px black;

}

li a:hover {
    color: #ffffff;
    background-color: #000000;
}

li.dropdown{
    display: inline-block;
}
li.dropdown a{
    border-radius: 2px 2px 0 0;
}

.dropdown-content{
    display: none;
    position:absolute;
    background-color: #66aa66;
    border-radius: 0 0 2px 2px;

}
.dropdown-content a{
    display: block;
    text-align: left;
    text-shadow: 0 0 20px black;
}
.dropdown-content a:hover{
    background-color: #000000;
    color:white;
    text-shadow: 0 0 20px white;
}
.dropdown-content a:hover .dropdown{
    background-color: #666666;
}
.dropdown:hover .dropdown-content{
    display: block;
}

body{
    width: 75%;
    margin: auto;
}
#contact{
    text-align: center;
}
.form{
    padding: 3px;
}
#comment{
    width: 30%;
    rows: 5;
}
.button{
    background-color: #447744;
    border-radius: 3px;
}
#center_link{
    margin: auto;
    width:20%;
}
img{
    float: left;
    padding: 10px;
    display: block;
}
a.hidden{
    text-decoration: none;
    color: black;
}
body {
    background: url("http://opengameart.org/sites/default/files/story9_14_full.png") no-repeat center center fixed;
}
#content{
    background: linear-gradient(to right, rgba(0,0,0,0), #88aa88 10%, #88aa88 90%, rgba(0,0,0,0));
    padding: 20px 40px;
}
#inner{
    width: 80%;
    margin: auto;

}