.html{
    font-family: norwesterregular;
}
.nav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a, .dropbtn {
    padding: 10px;
    display: inline-block;
    color: #222222;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

li a:hover {
    background-color: #777777;
}

li.dropdown{
    display: inline-block;
}
li.dropdown a{
    border-radius: 2px 2px 0 0;
}

.dropdown-content{
    display: none;
    position:absolute;
    background-color: #777777;
    border-radius: 0 0 2px 2px;

}
.dropdown-content a{
    display: block;
}
.dropdown-content a:hover{
    background-color: #666666;

}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content:hover .dropdown a{
    background-color:#666666
}
@font-face {
    font-family: 'norwesterregular';
    src: url('norwester-webfont.woff2') format('woff2'),
    url('norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}