html{
    font-family: "Courier New", sans-serif;
    color: white;
    text-shadow: 0 0 10px black;

}
h1{
    text-align: center;
    font-family: Courier, sans-serif;
    padding: 20px 20px 10px 20px;
}
.nav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0,0,0,0), #88aa88, #66aa66, #88aa88, rgba(0,0,0,0));
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a, .dropbtn {
    padding: 10px;
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
}

li a:hover {
    color: #ffffff;
    background-color: #000000;
}

li.dropdown{
    display: inline-block;
}
li.dropdown a{
    border-radius: 2px 2px 0 0;
}

.dropdown-content{
    display: none;
    position:absolute;
    border-radius: 0 0 2px 2px;
    background: #447744;

}
.dropdown-content a{
    display: block;
    text-align: left;
    text-shadow: none;
}
.dropdown-content a:hover{
    background-color: #000000;
    color:white;

}
.dropdown-content a:hover .dropdown{
    background-color: #666666;
}
.dropdown:hover .dropdown-content{
    display: block;
}

p.league{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 0 0 30px black;
}

body.league{
    background: url("http://static1.gamespot.com/uploads/original/1551/15511094/3066900-legends-1940x1095.png") no-repeat center center fixed;
}
div.league{
    margin:auto;
    width: 20%;
}
div.cont{
    width: 75%;
    margin: auto;
}
.button{
    background-color: #447744;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-family: Courier, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 175%;
    padding: 10px 20px 10px 20px;
    display:block;
    margin: auto;
    width:20%;
}
p.disclaimer{
    text-align: center;
}
#title{
    margin: auto;
    display: block;
    padding: 20px;

}